<div class="container">
  <h1>Registration</h1>
  <form action="/accounts/new" method="post">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Register">
  </form>
</div>

