





<form action="/surveys/new" method="post">
  <input type="text" name="survey[name]" placeholder="Survey Name" ><br>
  <TEXTAREA name = "survey[description]" placeholder="Describe your Survey"></TEXTAREA><br>
  <input type="submit" value="Make New Survey">

</form>


