<div class="container">
  <h3>Welcome, <%= @user.username %>! </h3>

  <!-- button to create new surveys -->
  <!-- button to view list of all surveys -->
  <form action="/surveys" method="get">
    <input type="submit" value="See all surveys">
  </form>

  <form action="/surveys/new" method="get">
    <input type="submit" value="Create a survey">
  </form>

</div>
