
<html>
<body>
  <h1>Register</h1>
  <form action="/accounts/new" method="post">
    <p>User Name</p>
    <input type="text" size = '25' name="username">
    <%= @error %>
    <p>Password</p>
    <input type="password" size = '25' name="password">
    <input type="submit" value="register">
  </form>
  <p>Already a Member? </p>
  <h3><a href="/">Login</a></h3>

</body>
</html>
