
<h5>What do you like? </h5>
<p>
<input type="radio" name="AppSource" value=1>Newspaper
<input type="radio" name="AppSource" value=2>Recruiters
<input type="radio" name="AppSource" value=3>Web Resume Banks
<input type="radio" name="AppSource" value=4>Magazines
</p>

