<div class="container">
  <h1>List of Surveys</h1>
  <% @all_surveys.each do |survey| %>
    <p><%= survey.name %></p>
  <% end %>

  <h1>Surveys Taken</h1>
  <% @survey_titles.each do |survey| %>
    <p><%= survey.name %></p>
  <% end %>

</div>