<div class="container">
  <h3>Title: <%= @survey.name %></h3>
  <h4>Number of Questions: <%= @num_of_questions %></h4>
  <p id="survey_desc"> <%= @survey.description %></p>

  <form action="/surveys/<%= @survey.id %>/take" method="get">
    <input type="submit" value="Take survey">
  </form>

</div>